@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@layer utilities {
        .laser-effect::before {
            left: var(--laser-pos-x, 0);
            top: var(--laser-pos-y, 0);
            width: var(--laser-width, 100px);
            height: var(--laser-height, 2px);
            content: '';
            position: absolute;
            background-color: #6a79f0;
            box-shadow: 0 0 5px 1px rgba(38, 97, 156, 0.6);
        }

        .laser-effect {
            position: relative;
            transition: width 0.2s, height 0.2s;
            overflow: hidden;
        }
    }

	/* @keyframes laserTravel {
		0%,
		100% {
			top: 0;
			left: 0;
		}
		25% {
			top: 0;
			left: 100%;
			transform: translateX(-100%);
		}
		50% {
			top: 100%;
			left: 100%;
			transform: translateY(-100%) translateX(-100%);
		}
		75% {
			top: 100%;
			left: 0;
			transform: translateY(-100%);
		}
	} */
}
